---
title: Blog
---
<section>
  {% include breadcrumb.html %}
  {% for post in site.posts %}
  <div class="content list-item">
    <div class="list-item-icons">
      {% for iconname in post.icons %}
      {% include icon.html ic = iconname %}
      {% endfor %}
    </div>
    <div class="list-item-content">
      <h2>
        <a href="{{ post.url }}"> {{ post.title }}</a>
        <span class="list-item-date">{{ post.date | date_to_string }}</span>
      </h2>
      {{ post.excerpt }}
      <div class="skills">
        {% for s in post.skills %}
        {% assign skill = site.data.skills | where: "name", s   | first  %}
        <span class="tag-small {{ skill.category }} light">{{ skill.name }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</section>