---
title: Home
description: Maxence Raoux website. Android & .Net developer. Discover my skills, projects and blog.
---
<div class="home-header">
    <article class="content">
        <img src="/assets/img/profil.jfif" class="avatar" title="maxence profile picture" />
        <div class="home-header-content">
            <h1>Maxence Raoux - <span id="myage">-</span> ans</h1>
            <p>Flutter, Android/iOS & .Net developer</p>
            <div class="home-header-tags">
                {% assign favorite_skills = site.data.skills | where: "fav", "true" %}
                {% for skill in favorite_skills %}
                <span class="tag {{ skill.category }}">{{ skill.name }}</span>
                {% endfor %}
            </div>
            <div class="home-header-link">
                {% for item in site.data.social-link %}
                <a href="{{ item.link }}" target="_blank">
                    {% include icon.html ic=item.icon %}
                </a>
                {% endfor %}
            </div>
        </div>
    </article>
</div>
<article class="content skill-container">
    {% assign grouped_skills = site.data.skills | where: "display", true | group_by: "category" %}

    {% for skill_group in grouped_skills %}
    <div class='skill-item'>
        {% assign category = site.data.skill-categories | where: "name", skill_group.name %}
        {% assign sorted_skills = skill_group.items | sort: "stars" | reverse %}
        <h2>{{ category.first.label }}</h2>
        {% for skill in sorted_skills %}
        {% if skill.link %} <a href="{{ skill.link }}" target="_blank"> {% endif %}
            <h3>
                {{ skill.name }}
                {% if skill.link %}
                {% include icon.html ic="link" %}
                {% endif %}
                {% if skill.stars > 0 %}
                <span class="lvl">
                    {% for i in (skill.stars..4) %}
                    <span class="lvl-empty"></span>
                    {% endfor %}
                    {% for i in (1..skill.stars) %}
                    <span class="lvl-fill {{ skill_group.name }}"></span>
                    {% endfor %}
                </span>
                {% endif %}
            </h3>
            {% if skill.link %}
        </a> {% endif %}
        {% endfor %}
    </div>
    {% endfor %}
</article>

<script>
    document.querySelector('#myage').innerHTML = Math.abs(new Date(Date.now() - new Date(1990, 4, 12).getTime()).getUTCFullYear() - 1970);
</script>