---
title: Projects
---
<section>
  {% include breadcrumb.html %}
  {% assign projects = site.projects | sort: "date" | reverse %}
  {% for project in projects %}
  <div class="content list-item">
    <div class="list-item-icons">
      {% for iconname in project.icons %}
      {% assign icon = site.data.icons | where_exp: "i", "i.tag == iconname" | first %}
      <svg xmlns="http://www.w3.org/2000/svg" role="img" viewBox="0 0 25 25">
        <title>{{icon.name}}</title>
        {{ icon.svg }}
      </svg>
      {% endfor %}
    </div>
    <div class="list-item-content">
      <h2> <a href="{{ project.url }}"> {{ project.title }}</a> </h2>
      {{ project.excerpt }}
      <div class="skills">
        {% for s in project.skills %}
        {% assign skill = site.data.skills | where: "name", s   | first  %}
        <span class="tag-small {{ skill.category }} light">{{ skill.name }}</span>
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</section>