<footer>

    <div id="social">
        {% for item in site.data.social-link %}
        <a href="{{ item.link }}" target="_blank">
            {% include icon.html ic = item.icon %}
        </a>
        {% endfor %}
    </div>

    <p class="copyright">The contents of this website are under the terms of the <a rel="noopener"
            href="https://github.com/Maouxi/maouxi.github.io/blob/master/LICENSE" target="_blank">MIT License.</a></p>
    <p class="copyright">Maxence Raoux | © 2024</p>
</footer>