<header id="navigation">
    <h1><a href="/">Maoux</a></h1>
    <nav>
        {% for item in site.data.navigation %}

        <a href="{{ item.link }}" {% if page.url == item.link %}class="current"
            {% elsif page.url contains item.tag %}class="current" {% endif %}>
            {{ item.name }}
        </a>

        {% endfor %}
    </nav>
    <a id="themeSwitch">
        {% include icon.html ic="darklight" %}
    </a>

    <script>
        setDarkTheme(localStorage.isDark == "true")

        document.getElementById('themeSwitch').addEventListener('click', function (event) {
            if (document.body.getAttribute('data-theme') == 'dark') {
                setDarkTheme(false)
                localStorage.isDark = false;
            } else {
                setDarkTheme(true)
                localStorage.isDark = true;
            }
        });

        function setDarkTheme(isDark) {
            if (isDark) {
                document.body.setAttribute('data-theme', 'dark')
            } else {
                document.body.removeAttribute('data-theme');
            }
        };
    </script>

</header>