:root {
    --background-color: #fdfdfd;
    --shadow: #eeeeee;
    --text-shadow-color: #eeeeee;
    --text-primary-color: #121212;
    --link-hover: #e5e5e5;
    --code-background-color: rgba(27, 31, 35, 0.05);
    --code-border-color: rgba(27, 31, 35, 0.3);
    --text-primary-light-color: #555555;
    --text-primary-lighter-color: #bbbbbb;
}

body[data-theme="dark"] {
    --background-color: #333333;
    --shadow: #444444;
    --text-shadow-color: #888888;
    --text-primary-color: #fdfdfd;
    --link-hover: #555555;
    --code-background-color: #272822;
    --code-border-color: rgba(190, 197, 204, 0.4);
    --text-primary-light-color: #cccccc;
    --text-primary-lighter-color: #888888;
}

$background-color: var(--background-color);
$shadow: var(--shadow);
$text-shadow-color: var(--text-shadow-color);
$link-hover: var(--link-hover);
$text-primary-color: var(--text-primary-color);

$primary-color: #f4511e;
$text-primary-color-invert: #fdfdfd;
$text-primary-light-color: var(--text-primary-light-color);
$text-primary-light-color-invert: #fafafa;
$text-primary-lighter-color: var(--text-primary-lighter-color);

$code-background-color: var(--code-background-color);
$code-border-color: var(--code-border-color);

.language {
    background-color: #42a5f5 !important;
    &.light {
        background-color: #42a5f5aa !important;
    }
}
.framework {
    background-color: #66bb6a !important;
    &.light {
        background-color: #66bb6aaa !important;
    }
}
.tools {
    background-color: #ef5350 !important;
    &.light {
        background-color: #ef5350aa !important;
    }
}
.architecture {
    background-color: #7e57c2 !important;
    &.light {
        background-color: #7e57c2aa !important;
    }
}
.test {
    background-color: #f542ae !important;
    &.light {
        background-color: #f542aeaa !important;
    }
}
