$background-color: #fdfdfd;
$shadow: #eeeeee;
$primary-color: orange;
$link-hover: #e5e5e5;
$text-primary-color: #121212;
$text-primary-color-invert: #fdfdfd;
$text-primary-light-color: #555555;
$text-primary-light-color-invert: #fafafa;
$text-primary-lighter-color: #bbbbbb;

.language {
    background-color: #42a5f5;
}
.framework {
    background-color: #66bb6a;
}
.tools {
    background-color: #ef5350;
}
.architecture {
    background-color: #7e57c2;
}
