footer {
    background-color: $background-color;
    box-shadow: 0px -1px 1px $shadow;
    padding: 25px;

    #social {
        text-align: center;
        flex-flow: row nowrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
        a:hover {
            background-color: transparent;
            svg.linkedin {
                fill: $linkedin;
            }
            svg.github {
                fill: $github;
            }
            svg.azuredevops {
                fill: $azuredevops;
            }
        }
        svg {
            fill: $text-primary-lighter-color;
            width: 22px;
            height: 22px;
            margin-right: 10px;
        }
    }

    .copyright {
        text-align: center;
        font-size: 14px;
        color: $text-primary-lighter-color;
    }
}
