@media (min-width: 800px) {
    header#navigation {
        h1 {
            padding: $page-margin;
        }
    }
}

@media (max-width: 800px) {
    header#navigation {
        h1 {
            padding: $page-margin-small;
        }
    }
}

header#navigation {
    display: flex;
    background-color: $background-color;
    color: $text-primary-color;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 1px $shadow;
    h1 {
        font-size: 30px;
        flex: 1;
        margin-bottom: 0px;
        a {
            color: $primary-color;
        }
        a:hover {
            background-color: transparent;
        }
    }
    nav {
        padding: 30px 0px;
        a {
            padding: 10px;
            font-size: 20px;
            margin-right: 0px;
        }
        a:hover {
            background-color: $link-hover;
        }
        a.current {
            color: $primary-color;
        }
    }
    a#themeSwitch {
        align-self: flex-start;
        margin-right: 5px;
        margin-top: 5px;
        svg {
            padding: 3px;
            height: 20px;
            width: 20px;
            fill: $text-primary-color;
        }
    }
    a#themeSwitch:hover {
        background-color: transparent;
        cursor: pointer;
        svg {
            fill: $primary-color;
        }
    }
}
