.list-item {
    margin-bottom: 30px;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    .list-item-content {
        display: flex;
        flex-flow: column nowrap;
        margin-left: 15px;
        .list-item-date {
            &:before {
                content: " • ";
            }
            color: $text-primary-lighter-color;
            font-size: 14px;
            font-weight: normal;
        }
        .skills {
            display: flex;
            flex-flow: row wrap;
        }
    }
    .list-item-icons {
        display: flex;
        flex-flow: column nowrap;
        svg {
            margin-top: 5px;
            fill: $text-primary-light-color;
            min-height: 18px;
            min-width: 18px;
            max-height: 18px;
            max-width: 18px;
        }
    }
    h2 {
        margin-bottom: 5px;
    }
    a {
        font-size: 26px;
        color: $primary-color;
        text-decoration: none;
    }
    a:link {
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
        background-color: transparent;
    }
    p {
        margin-bottom: 10px;
    }
}
