* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

body {
    background-color: $background-color;
    color: $text-primary-color;
}

.avatar {
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.home-header {
    color: $text-primary-color-invert;
    box-shadow: 0px 1px 1px $shadow;
    background-image: url("/assets/img/background/header3.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    article {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;

        .home-header-content {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            margin-left: 20px;
            p {
                color: $text-primary-light-color-invert;
                margin-bottom: 15px;
            }
            .home-header-tags {
                display: flex;
                flex-flow: row wrap;
                justify-content: flex-start;
            }
        }
    }
}

%tag-shared {
    padding: 5px 10px;
    border-radius: 10px;
    color: $text-primary-color-invert !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tag {
    @extend %tag-shared;
}
.tag-small {
    @extend %tag-shared;
    font-size: 12px;
}

#page-header {
    display: flex;
    padding: 60px 30px;
    color: $text-primary-color-invert;
    height: 120px;
    flex-flow: column nowrap;
    box-shadow: 0px 1px 1px $shadow;
    justify-content: space-around;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("/assets/img/background/header3.png");
    h1 {
        max-width: 800px;
        margin: auto;
    }
}

section,
article {
    max-width: 800px;
    margin: auto;
    padding: 30px;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

a {
    color: $text-primary-color;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background-color: $link-hover;
}

.list-item {
    h2 {
        a {
            font-size: 26px;
            color: $primary-color;
            margin-bottom: 15px;
        }
    }
    margin-bottom: 20px;
}

article {
    header {
        h1 {
            font-size: 28px;
            margin-bottom: 0px;
        }
        p {
            font-size: 16px;
            margin-bottom: 15px;
            color: $text-primary-lighter-color;
        }
    }

    h1 {
        font-size: 26px;
        margin-bottom: 10px;
    }
    h2 {
        font-size: 22px;
        margin-bottom: 5px;
    }
    p {
        margin-bottom: 5px;
    }
}

@media (min-width: 800px) {
    .skill-container {
        display: flex;
        width: 100%;
        flex-flow: row wrap;

        .skill-item {
            width: 50%;
            h3 {
                padding: 5px 30px 5px 5px;
            }
        }
    }
}
@media (max-width: 800px) {
    .skill-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .skill-item {
        h3 {
            padding: 5px 5px 5px 5px;
        }
    }
}

.skill-container {
    .skill-item {
        margin-bottom: 15px;
        h3 {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            font-size: 18px;
            font-weight: normal;
        }
        %lvl-shared {
            @extend %lvl-shared;
            display: inline-block;
            min-width: 10px;
            min-height: 5px;
            border-radius: 0%;
        }
        .lvl-fill {
            @extend %lvl-shared;
            background-color: $primary-color;
        }
        .lvl-empty {
            @extend %lvl-shared;
            background-color: $shadow;
        }
    }
}
