* {
    margin: 0;
    padding: 0;
    font-family: "Arial";
}

body {
    background-color: $background-color;
    color: $text-primary-color;
}

@media (min-width: 800px) {
    section,
    article {
        padding: $page-margin;
    }
}
@media (max-width: 800px) {
    section,
    article {
        padding: $page-margin-small;
    }
}

section,
article {
    max-width: 1000px;
    margin: auto;
}

table {
    width: 100%;
}

h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

a {
    color: $text-primary-color;
    text-decoration: none;
}
a:link {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    background-color: $link-hover;
}

%tag-shared {
    padding: 5px 10px;
    border-radius: 10px;
    color: $text-primary-color-invert !important;
    margin-right: 10px;
    margin-bottom: 10px;
}

.tag {
    @extend %tag-shared;
    font-size: 12px;
}
.tag-small {
    @extend %tag-shared;
    font-size: 10px;
    margin-right: 5px;
    padding: 3px 6px;
}
